/*
css of .Left and .Right is defined in day49_common.css
*/

/*左侧二级布局容器*/
.Left {
	position: relative;
}
.Left .desk {
	position: absolute;
	width: 50%;	/*only 180px rest for children*/
	height: 300px;	/*only 280px rest for children*/
	padding: 10px;
}
.desk:nth-of-type(1) {
	left: 0;
	top: 0;
}
.desk:nth-of-type(2) {
	left: 300px;
	top: 0;
}
.desk:nth-of-type(3) {
	left: 0;
	top: 300px;
}
.desk:nth-of-type(4) {
	left: 300px;
	top: 300px;
}


.desk .d-header {
	width: 100%;
	height: 40px;
	padding: 5px;
	line-height: 30px;
	font-size: 15px;
}
/*d-main means desk-main, a cascade relationship, not only the child but the grandchild*/
.desk .d-main {
	height: 240px;
	width: 100%;
}

/*左侧的点菜栏*/
.d-main .d-order, .d-main .d-dishup {
	position: relative;	/*为点餐时的动画做准备*/

	width: 40%;
	height: 100%;
	cursor: pointer;
}
.d-order .d-ordered {
	width: 100%;
	overflow: auto;
	margin-bottom:5px;
}
.d-ordered .d-ordered-img {
	width: 15%;
	height: 100%;
	animation: order 0.5s ease;
}
@keyframes order {
	/*这里的position是相对d-cuisine来说的*/
	0% {
		/*transform: scale(2,2) translate(80px, 50px);*/
		position: absolute;
		left: 0px;
		top: 50px;
		width: 50px;
		height: 50px;
	}

	50% {
		position: absolute;
		left: 0px;
		top: -100px;
		width: 15%;
		height: 100%;
	}
	100% {
		width: 15%;
		height: 100%;
	}
}

.d-order .d-cuisine {
	width: 100%;
	height: 210px;
	font-size: 14px;
	list-style: none;
}
.d-cuisine li, .d-dishup li {
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
.d-cuisine-item {
	width: 40px;
	height: 30px;
}

/*中间的对话框,显示对话语句*/
.d-main .d-dialog {
	width: 50%;
	height: 100%;
	overflow: auto;
}
.d-dialog span {
	font-size: 10px;
}
.d-dialog .d-dialog-waiter {
	text-align: right;
}

.d-main .d-waiter p {
	-webkit-writing-mode: vertical-rl;
	padding-top: 50px;
}